<mat-toolbar color="primary">
    <a href ="#"><img src="../assets/images/logo.png" alt="company logo"></a>
    <span class="example-spacer"></span>
    <button (click)="mailTo()">
      <img class="contact_logo" src = "../assets/images/envelope.svg">
    </button>
</mat-toolbar>
<router-outlet></router-outlet>

  <mat-toolbar>
    <p>
     All the data published in this website are taken from Open Government Data Platform - Government of India <span><img src="../assets/images/flag-400.png" alt='national flag' width="30px" height="20px"></span> 
    </p>
</mat-toolbar>
